[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = git@github.com:libuv/libuv.git
[submodule "3rdparty/dyncall"]
	path = 3rdparty/dyncall
	url = git@github.com:MoarVM/dyncall.git
[submodule "3rdparty/dynasm"]
	path = 3rdparty/dynasm
	url = git@github.com:MoarVM/dynasm.git
[submodule "3rdparty/libtommath"]
	path = 3rdparty/libtommath
	url = git@github.com:MoarVM/libtommath
[submodule "3rdparty/cmp"]
	path = 3rdparty/cmp
	url = git@github.com:MoarVM/cmp.git
[submodule "3rdparty/libatomicops"]
	path = 3rdparty/libatomicops
	url = git@github.com:MoarVM/libatomic_ops
[submodule "3rdparty/ryu"]
	path = 3rdparty/ryu
	url = git@github.com:MoarVM/ryu
	ignore = untracked
